<script type="text/javascript" src="/javascripts/jquery.tooltips.js"></script>
<script>
$(function(){
$(".notificationTip").tipTip({defaultPosition: "top"});
});</script>
	 <div class="twoofthree padder">
   <article>
	<div id="notificationSettings" class="settingsBox">
        <div class="notifications">
        <h4>Follower Activity</h4>
        <div class="row header_row">
          <div class="column_push column"><img alt="" class="notificationTip" title="Push Notifications" src="/images/icons/32-iphone.png"></div>
          <div class="column_email column"><img alt="" class="notificationTip" title="Email Notifications" src="/images/icons/18-envelope.png"></div>
         </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When my followers check in</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When I receive a follower request or follower confirmation</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox" ></div>
          <div class="column_desc column">When a new follower from Facebook joins Gloced</div>
        </div>
      </div>
      <div class="notifications">
        <h4>Comments</h4>
        <div class="row header_row">
         <div class="column_push column"><img alt="" class="notificationTip" title="Push Notifications" src="/images/icons/32-iphone.png"></div>
          <div class="column_email column"><img alt="" class="notificationTip" title="Email Notifications" src="/images/icons/18-envelope.png"></div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When someone comments on my check-in, or replies to one of my comments</div>
        </div>
        
      </div>
      <div class="notifications">
        <h4>Tips &amp; To-Dos</h4>
        <div class="row header_row">
         <div class="column_push column"><img alt="" class="notificationTip" title="Push Notifications" src="/images/icons/32-iphone.png"></div>
          <div class="column_email column"><img alt="" class="notificationTip" title="Email Notifications" src="/images/icons/18-envelope.png"></div>
       </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When a follower does one of my Tips</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When a follower wants to go to the same place I do</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox" ></div>
          <div class="column_desc column">When a follower adds one of my Tips to their To-Do list</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When a followers shares a place, tip, or list with me</div>
        </div>
      </div>
      <div class="notifications">
        <h4>Specials</h4>
        <div class="row header_row">
         <div class="column_push column"><img alt="" class="notificationTip" title="Push Notifications" src="/images/icons/32-iphone.png"></div>
          <div class="column_email column"><img alt="" class="notificationTip" title="Email Notifications" src="/images/icons/18-envelope.png"></div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When I unlock a Special</div>
        </div>
      </div>
      <div class="notifications">
        <h4>The Game</h4>
        <div class="row header_row">
         <div class="column_push column"><img alt="" class="notificationTip" title="Push Notifications" src="/images/icons/32-iphone.png"></div>
          <div class="column_email column"><img alt="" class="notificationTip" title="Email Notifications" src="/images/icons/18-envelope.png"></div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When I unlock a badge</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">When I get ousted as Mayor</div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox" ></div>
          <div class="column_email column"><input type="checkbox" ></div>
          <div class="column_desc column">When I earn extra points</div>
        </div>
      </div>
      <div class="notifications">
        <h4>News and Updates</h4>
        <div class="row header_row">
         <div class="column_push column"><img alt="" class="notificationTip" title="Push Notifications" src="/images/icons/32-iphone.png"></div>
          <div class="column_email column"><img alt="" class="notificationTip" title="Email Notifications" src="/images/icons/18-envelope.png"></div>
        </div>
        <div class="row">
          <div class="column_push column"><input type="checkbox"></div>
          <div class="column_email column"><input type="checkbox"></div>
          <div class="column_desc column">Keep me up-to-date with Gloced news and updates</div>
        </div>
       </div>
  </div>
</article>
</div><div class="oneofthree padder">s	</div>
