Remember that time that you traveled and didn't know anything about the events that were taking place around your area? 
<br>
<br>
<br>
Gloced helpes you find the coolest events near your location (or even worldwide) probably easier than ever.<br><br>Use the TAGS and other filters to find the events near you and start having fun! 
<br><br>It’s free, it’s easy, and it’s the best tool if you are travelling and like to explore the best events in your current city!
<br>
<br>
Are you a venue owner and want to share an event with potential guests? <a href="/register">Click here</a> and add your event in 3 dead simple steps!